<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
  <!-- EJB Local References -->
  <ejb-local-ref>
    <ejb-ref-name>ejb/AuditRecordAccess</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local-home />
    <local>org.dcm4chee.arr.cdi.ejb.AuditRecordAccessLocal</local>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ejb/AuditRecordQuery</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local-home />
    <local>org.dcm4chee.arr.cdi.ejb.AuditRecordQueryLocal</local>
  </ejb-local-ref>
<!--
  We need an explicit reference to the cache container so that it starts up when this WAR is deployed, see also:
       https://issues.jboss.org/browse/WFLY-4613?focusedCommentId=13068459&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-13068459
-->
  <resource-ref>
    <res-ref-name>infinispan/container/dcm4chee</res-ref-name>
    <lookup-name>java:jboss/infinispan/container/dcm4chee</lookup-name>
  </resource-ref>
</web-app>
